[submodule "psxrecomp"]
	path = psxrecomp
	url = https://github.com/carlosbravoa/psxrecomp.git
	branch = mm8
[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/carlosbravoa/recomp-ui.git
	branch = mm8
